<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/profPanel.css">
    <link rel="stylesheet" href="./style/layoutPanel.css">

    <link rel="shortcut icon" href="/assets/Svg/Argia2.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <title>Argia - Home</title>
</head>

<body>
    <div class="darkmode-switch-box" onclick="switchmode()">
        <label class="darkmode-switch">
            <input id="darkmode-checkbox" type="checkbox" checked>
            <div class="planet">
            </div>
            <div class="elements">
                <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="250" cy="250" r="200" />
                </svg>
                <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="250" cy="250" r="200" />
                </svg>
                <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="250" cy="250" r="200" />
                </svg>
                <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="250" cy="250" r="200" />
                </svg>
                <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="250" cy="250" r="200" />
                </svg>
                <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="250" cy="250" r="200" />
                </svg>
                <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="250" cy="250" r="200" />
                </svg>
                <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="250" cy="250" r="200" />
                </svg>
            </div>
        </label>
        <span id="darkmode-label">switch to dark mode</span>
    </div>
    <header>
        <div>
            <img src="/assets/Svg/Argia2.svg">
            <h1>Ai</h1>
        </div>

        <div class="button-box">
            <div class="sub-box">
                <button><a href="./logout">Logout</a></button>
            </div>
        </div>

    </header>


    <aside th:include="panels/fragments/teacherSideBar :: sidebar" class="sidenav">

    </aside>

    <main>
        <section>
            <div th:each="course : ${coursesList}" class="module">
                <menu th:each=" scheduleOfCourse , stat: ${schedules.entrySet()}"
                    th:if="${scheduleOfCourse.key == course}">
                    <menuitem id="demo1">
                    <div class="Module-profile">
                        <img src="/assets/modulesIcons/SPM.svg" width="48px" alt="" srcset="">
                        <a th:text="${course}" class="PF-Title"></a>
                    </div>
                    <menu class="module_attribute">

                        <menuitem class="cours">
                        <a class="items">cours</a>
                        <menu class="module_att_desc" th:each="type : ${scheduleOfCourse.value}"
                            th:if="${type.key} == a">
                            <span th:each=" item: ${type.value}">
                                <p th:text="${item}" class="items"></p>
                            </span>
                        </menu>
                        </menuitem>

                        <menuitem style="transition-delay: 100ms;">
                        <a class="items">TD</a>
                        <menu class="module_att_desc" th:each="type : ${scheduleOfCourse.value}"
                            th:if="${type.key} == s">
                            <span th:each=" item: ${type.value}">
                                <p th:text="${item}" class="items"></p>
                            </span>
                        </menu>
                        </menuitem>

                        <menuitem style="transition-delay: 200ms;">
                        <a class="items">TP</a>
                        <menu class="module_att_desc" th:each="type : ${scheduleOfCourse.value}"
                            th:if="${type.key} == tp">
                            <span th:each=" item: ${type.value}">
                                <p th:text="${item}" class="items"></p>
                            </span>
                        </menu>
                        </menuitem>

                    </menu>
                    </menuitem>
                </menu>
            </div>

        </section>

    </main>

    <footer>
        <div> <span> &copy; </span> Ai </div>
        <img src="/assets/icons/up-arrow.svg" alt="" onclick="viewdetails()">
        <section class="details">
            <ul class="social-media">
                <li class="icon facebook">
                    <span class="tooltip">Facebook</span>
                    <span><i class="fab fa-facebook-f"></i></span>
                </li>
                <li class="icon twitter">
                    <span class="tooltip">Twitter</span>
                    <span><i class="fab fa-twitter"></i></span>
                </li>
                <li class="icon instagram">
                    <span class="tooltip">Instagram</span>
                    <span><i class="fab fa-instagram"></i></span>
                </li>
                <li class="icon github">
                    <span class="tooltip">Github</span>
                    <span class="span"><i class="fab fa-github"></i></span>
                </li>
                <li class="icon youtube">
                    <span class="tooltip">Youtube</span>
                    <span><i class="fab fa-youtube"></i></span>
                </li>
            </ul>
            <ul class="more-details">
                <span>Ali menjeli ,Constantine ,Algeria</span>
                <i class="fas fa-map-marker-alt"></i>
                <span>+21355487456</span>
                <i class="fas fa-phone"></i>
            </ul>
        </section>
    </footer>
    <script src="/scripts/darkmode.js"></script>
    <script src="/scripts/profileDetails.js"></script>
    <script src="/scripts/Prof.js"></script>
    <script src="/scripts/footer.js"></script>
</body>

</html>